#RewriteEngine On
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#
#RewriteRule ^([^/\.]+)/?$ index.php?page=$1 [L]
#RewriteRule ^([^/]+)/([^/\.]+)/?$ index.php?page=$1&title=$2 [L,QSA]

#RewriteRule ^(.*)$ /index.php?/$1

#RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1

#RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?page=$1