//
//	IMPORTS
//-------------------------------------------------------------------------------------------------------------|

	@import '../helpers/variables';
	@import '../helpers/mixins';

//	1. PULSE
//-------------------------------------------------------------------------------------------------------------|

	@keyframes pulsebounce {
		0% {
			opacity: 0.9;
			background-size: 50%;
		}

		50% {
			opacity: 0.95;
			background-size: 55%;
		}

		100% {
			opacity: 1.0;
			background-size: 50%;
		}
	}