//
//	1. IMPORTS
//-------------------------------------------------------------------------------------------------------------|

	@import '../helpers/variables';
	@import '../helpers/mixins';

//	2. HEADER
//-------------------------------------------------------------------------------------------------------------|

html {
	height: 100%;
}

body {
	height: 100%;
}

#page {
	@include size(100%);
	overflow: hidden;
	background: $SBBackground;

	#content-container {
		@include size(auto, 100%);
		overflow-y: auto;
		overflow-x: auto;

		> header {
			@include size(100%, 150px);
			position: relative;
			background: $SBGreenLight url(#{$IMAGES}/headers/dungeon/super-mystery-dungeon.jpg) no-repeat;
			background-size: cover;
			box-sizing: border-box;

			// Adds Green spacer between header and content
			&:before {
				@include size(100%, 10px);
				content: '';
				position: absolute;
				top: 100%;
				background: $SBGreenBase;
				border-top: 1px solid $SBGreenLight;
				border-bottom: 1px solid $SBGreenLight;
			}

			// Adds lines across the banner with 25% opacity
			&:after {
				@include size(100%);
				content: '';
				position: absolute;
				top: 0; right: 0; bottom: 0; left: 0;
				background: transparent url(img('/layout/grille.png'));
				opacity: 0.5;
			}

			a:link {
				@include size(100%);
				position: absolute;
				display: block;
				z-index: 15;

				&:hover {
					+ #logo:before {
						@include prefix(animation, pulsebounce .2s forwards);
					}

					+ #logo:after {
						@include prefix(transition, left .32s linear);
						left: 110%;
					}
				}
			}

			#logo {
				@include size(100%);

				&:before {
					content: '';
					position: absolute;
					top: 10px; right: 40px; bottom: 10px; left: 40px;
					background: transparent url(img('/layout/serebii.net-icon-spaced-caps.png')) no-repeat bottom center;
					background-size: 50%;
					opacity: 0.9;
				}
			}

			#search {
				@include size(250px, 50px);
				position: absolute;
				top: 100%;
				right: 0;
				background: $SBLinkHover;
				display: none;
			}
		}

		#content {
			position: relative;
			width: 80%;
			max-width: 1000px;
			margin: 10px auto auto auto;

			&:before {

			}
		}
	}
}

#navigation {
	@include size(150px, 100%);
	float: left;
	padding: 0 2px 0 0;
	background-color: $SBGreenBase;
	border-right: 1px solid $SBGreenLight;
	z-index: 16;

	> ul {
		@include size(100%);

		> li {
			@include size(100%, 40px);
			position: relative;
			list-style: none;
			border-right: 1px solid $SBGreenDark;
			border-bottom: 1px solid $SBGreenDark;
			border-left: 1px solid $SBGreenLight;

			&:not(:first-child) {
				border-top: 1px solid $SBGreenLight;
			}

			&.submenu:hover:before {
				@include size(2px, 100%);
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				background: darken($SBGreenBase, 3%);
				border-bottom: 1px solid $SBGreenDark;
			}

			&:hover {
				@include prefix(transition, background .2s ease);
				background: darken($SBGreenBase, 3%) no-repeat 10px center;
				background-size: 20px auto;

				> ul {
					visibility: visible;
					opacity: 1.0;
				}
			}

			> a:link, a:active, a:visited {
				color: $BLACK;
			}

			> a:link {
				@include size(100%);
				display: block;
				box-sizing: border-box;
				padding: 0 0 0 40px;

				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				font-size: 14px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

				&:before {
					@include size(20px);
					@include transform(translateY(-50%));
					content: '';
					position: absolute;
					top: 50%;
					left: 10px;
					background: transparent no-repeat center center;
					background-size: contain;
				}

				> span {
					@include transform(translateY(-50%));
					position: absolute;
					top: 50%;
				}
			}

			> ul {
				@include size(3*150px, auto);
				@include prefix(transition, (visibility 0s linear, opacity .125s ease));
				@include prefix(box-shadow, 15px 0 20px rgba(0, 0, 0, 0.2));
				@include prefix(border-radius, 0 6px 6px 6px);
				visibility: hidden;
				opacity: 0.0;
				margin: -1px 0 0 2px;
				padding: 6px;
				border-bottom: 1px solid #42ad4a;
				border-right: 1px solid #42ad4a;
				border-top: 1px solid #42ad4a;
				position: absolute;
				top: 0;
				left: 100%;
				background: darken($SBGreenBase, 3%);
				z-index: 16;
				overflow: auto;

				&:before {
					@include prefix(border-radius, 0 4px 4px 4px);
					@include prefix(box-shadow, inset 0 0 10px rgba(0, 0, 0, 0.2));
					content: '';
					position: absolute;
					top: 6px; right: 6px; bottom: 6px; left: 6px;
					background: $SBBackLight;
					z-index: -1;
				}

				> li {
					@include size(150px, auto);
					float: left;
					padding: 10px;
					box-sizing: border-box;

					&:nth-child(3n+1) {
						clear: left;
					}

					> span {
						@include size(100%, auto);
						display: block;
						padding: 0 0 8px 0;
						font-family: 'Oswald', sans-serif;
						font-size: 12px;
						font-weight: 400;
						text-transform: uppercase;
						text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
						border-bottom: 1px solid $SBFontGrey;
					}

					> ul {
						@include size(100%, auto);

						> li {
							padding: 4px;
							font-family: 'Cabin Condensed', sans-serif;
							font-size: 12px;
							text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
							line-height: 18px;
							border-bottom: 1px solid rgba(80, 80, 80, 1.0);

							> a:link, a:active, a:visited {
								text-decoration: none;
								color: $SBLinkBase;
							}

							> a:hover {
								color: $SBLinkHover;
							}

							&.more {
								text-align: right;
							}
						}
					}
				}
			}
		}
	}
}

#navigation > ul {
	> li:nth-child(1) > a:link:before {
		background-image: url(img('/graphics/glyphs-own/glyph-1-celebi.png'));
	}
	> li:nth-child(2) > a:link:before {
		background-image: url(img('/graphics/glyphs/glyphicons-594-voice.png'));
	}
	> li:nth-child(3) > a:link:before {
		background-image: url(img('/graphics/glyphs/glyphicons-547-quote.png'));
	}
	> li:nth-child(4) > a:link:before {
		background-image: url(img('/graphics/glyphs-own/glyph-2-pokedex.png'));
	}
	> li:nth-child(5) > a:link:before {
		background-image: url(img('/graphics/glyphs/glyphicons-322-gamepad.png'));
	}
	> li:nth-child(6) > a:link:before {
		background-image: url(img('/graphics/glyphs-own/glyph-3-anime.png'));
	}
	> li:nth-child(7) > a:link:before {
		background-image: url(img('/graphics/glyphs/glyphicons-9-film.png'));
	}
	> li:nth-child(8) > a:link:before {
		background-image: url(img('/graphics/glyphs-own/glyph-4-manga.png'));
	}
	> li:nth-child(9) > a:link:before {
		background-image: url(img('/graphics/glyphs/glyphicons-328-sampler.png'));
	}
	> li:nth-child(10) > a:link:before {
		background-image: url(img('/graphics/glyphs/glyphicons-46-calendar.png'));
	}
	> li:nth-child(11) > a:link:before {
		background-image: url(img('/graphics/glyphs-own/glyph-5-events.png'));
	}
	> li:nth-child(12) > a:link:before {
		background-image: url(img('/graphics/glyphs/glyphicons-519-option-horizontal.png'));
	}
}

#content {
	padding: 20px 0 0 0;

	article {


		header {
			color: $SBFontBase;

			h1 {
				font-family: 'Oswald', sans-serif;
				font-weight: 300;
				font-size: 18px;
				line-height: 1.2em;

				> a:link, a:active, a:visited {
					color: $SBFontBase;
					text-decoration: none;
				}
			}

			p {
				float: right;
				font-family: 'Open Sans Condensed', sans-serif;
			}
		}

		section:first-child {

		}

		section:not(:first-child) {

		}
	}
}